[defaults]
sources   = ["lib/fortran-basic/src"]
libraries = ["BLAS95", "LAPACK95", "MPFR", "MUMPS", "ZLIB"]


[debug]
target    = "dd"
args      = "--run {files[0]} --temperature 4.0 --device {files[1]}"
templates = [
  { files = [ "run.ini" ] },
  { files = [ "pmosfet2D.ini" ], action="expand" }
]


[release]
target    = "dd"
args      = "--run {files[0]} --temperature 4.0 --device {files[1]}"
mode      = "release"
templates = [
  { files = [ "run.ini" ] },
  { files = [ "pmosfet2D.ini" ], action="expand" }
]

[nw_2D]
mode = "debug"
single = true
target = "nw_2d"
libraries = ["MPFR", "ZLIB", "ILUPACK"]
args = "--run {files[0]} --temperature 300.0 --device {files[1]}"
runner = "slurm"
partition = "faster"


templates = [
  { files = [
    "run.ini",
  ] },
  { files = [
    "nw_2D.ini",
  ], action = "expand" },
]

[vfet_test]
mode = "debug"
single = true
target = "nw_2d"
libraries = ["MPFR", "ZLIB", "ILUPACK"]
args = "--run {files[0]} --temperature 300.0 --device {files[1]}"
runner = "slurm"
partition = "faster"

templates = [
  { files = [
    "run.ini",
  ] },
  { files = [
    "vfet_test.ini",
  ], action = "expand" },
]

[galene_converter]
mode = "debug"
single = true
target = "galene_converter"
libraries = ["MPFR", "ZLIB"]
args = ""

templates = [{ files = ["DD.OSV", "DGMOS.GEO"] }]

[efield_test]
mode = "debug"
single = true
target = "efield_test_2d"
libraries = ["MPFR", "ZLIB"]
args = "--run {files[0]} --temperature 300.0 --device {files[1]}"
templates = [
  { files = [
    "run_efield_test_2D.ini",
  ] },
  { files = [
    "efield_test_device_2D.ini",
  ], action = "expand" },
]


