[defaults]
sources   = ["lib/fortran-basic/src"]
libraries = ["BLAS95", "LAPACK95", "MPFR", "MUMPS", "ZLIB"]


[debug]
target    = "dd"
args      = "--run {files[0]} --temperature 4.0 --device {files[1]}"
templates = [
  { files = [ "run.ini" ] },
  { files = [ "pmosfet2D.ini" ], action="expand" }
]


[release]
target    = "dd"
args      = "--run {files[0]} --temperature 4.0 --device {files[1]}"
mode      = "release"
templates = [
  { files = [ "run.ini" ] },
  { files = [ "pmosfet2D.ini" ], action="expand" }
]


[galene_converter]
mode = "debug"
single = true
target = "galene_converter"
libraries = ["MPFR", "ZLIB"]
args = ""

templates = [{ files = ["DD.OSV", "DGMOS.GEO"] }]
